<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        <%= title%>
    </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Our css file below all the files so that we can override -->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading"><i class="fas fa-address-book"></i>My Contact List</h1>

    <ul class="list">
        <% for(let i of contact_list){%>
            <li >
                <h3>
                    <%=i.name%>
                </h3>
                <p>
                    <%= i.phone%>
                </p>
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%=i._id%>">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </li>
        <%}%>
    </ul>



    <form action="/create-contact" method="POST" class="inp">
        <input type="text" name="name" required placeholder="Name"> 
        <input type="number" name="phone" required placeholder="Phone">
        <button type="submit">Add</button>
    </form>

    <script type="text/javascript" src="/js/home.js">

    </script>
</body>
</html>